/* INICIO IARA CATARINA */
body
    {
        background: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
.overlay 
    {
       width: 100%;
       height: 100%;
       padding-top: 80px;
       padding-bottom: 80px;
    } 

/* START HOME */
#home
    {
    background: url('../img/banner2.png') no-repeat;
    background-size:cover;
    color:#f8f8f8;
    text-align: center;
    width: 100%;
    }
#home p
    {
        font-weight: 400;
        font-style: italic;
        line-height: 2em;
    }
#home img
    {
        width: 120px;  
        margin-bottom: 200px;
        
        
    }
#home button{
    background-color: #817070;
    color:#fff
}
/* END HOME */

/* START ICONS */
.adotar-pet{
    font-weight: 400;
    font-style: italic;
    line-height: 2em;
    padding-top: 40px;
}
.bi {
    color: #F8C592;
}
/* END ICONS */

/* START SOBRE NOS */
#feature
    {
        background: #f8f8f8;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#feature h2
    {
        text-align: left;
    }
#feature p
    {
        padding-top: 10px;
    }
#feature span
    {
        float: left;
    }
#feature img {
        margin-top: 10px;
}
/* END SOBRE NOS */

/* START COMO FUNCIONA */
#feature1
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
#feature1 p
    {
        padding-top: 10px;
    }
#feature1 span
    {
        float: left;
    }

#feature1 img {
        margin-bottom: 30px;
}
/* END COMO FUNCIONA */

/* start slide */
#slide
    {
        
        background: url('../img/banner4.png') no-repeat;
        background-size:cover;
        color:#f8f8f8;
        text-align: center;
        width: 100%;
        
    }

.carousel {
    margin-bottom: 4rem;
  }

.carousel-caption {
    bottom: 6rem;   
  
  }
.carousel-caption hr{
    color: #f8f8f8;
    margin-left: 18rem;  
    margin-right: 18rem;
}
  

.carousel-item {
    height: 32rem;
  }
.carousel-indicators button{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
  }
  
  
/* end slide */

/* start contact */
#contact
    {
        background: #fff;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 260px;
        
        
    }
#contact h1
    {
        padding-bottom: 10px;
        padding-left: 67px;
    }


#contact input
    {
        height: 40px;
    }
#contact form{
    padding-left: 5px;
}
.infors{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* end contact */

/* start footer */
.footer
    {
        background: #f8f8f8;
        font-weight: 100;
        text-align: right;     
        padding: 10px;
    }

#img-div{
        display: flex;
        float: left;    
        height: 30px;
        
            
    }
    /*end footer */

